<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mapper.NoteMapper">
        <select id="findAllNoteBySectionId" parameterType="int" resultType="Note">
                select * from notes where sectionId=#{value}
        </select>
        
        <select id="findNoteByNoteTitle" parameterType="java.lang.String" resultType="Note">
                select * from notes where noteTitle=#{value}
        </select>
        
        <insert id="insertNote" parameterType="Note">
                insert into notes(noteTitle,status,userName,content,addtime,sectionId,newTime) values(
                       #{noteTitle},#{status},#{userName},#{content},#{addtime},#{sectionId},#{newTime})
        </insert>
        
        <update id="updateNoteReplay" parameterType="java.lang.String" parameterMap="">
                update notes set newReplayUser=#{},newTime=#{} where noteId=#{}
        </update>
</mapper>