<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mapper.ReplayMapper">
        <select id="findAllReplayByNoteId" parameterType="int" resultType="Replay">
                select * from replays where noteId=#{value}
        </select>
        
        <select id="findReplayByUserAndContent" parameterType="Replay" resultType="Replay">
                select * from replays where userName=#{userName} and replayContent=#{replayContent}
        </select>
        
        <insert id="insertReplay" parameterType="Replay">
                insert into replays(replayContent,userName,replayTime,noteId) values(
                       #{replayContent},#{userName},#{replayTime},#{noteId})
        </insert>
</mapper>