<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mapper.SectionMapper">
        <select id="findAllSection" resultType="Section">
                select * from sections
        </select>
        <select id="findSectionBySectionName" parameterType="java.lang.String" resultType="Section">
                select * from sections where sectionName=#{value}
        </select>
        <select id="findSectionBySectionId" parameterType="int" resultType="Section">
                select * from sections where sectionId=#{value}
        </select>
        <select id="findAllSectionBySectionName" parameterType="java.lang.String" resultType="Section">
                select * from sections where sectionName like '%${value}%'
        </select>
        <select id="findSectionBySectionUser" parameterType="java.lang.String" resultType="Section">
                select * from sections where sectionUser=#{value}
        </select>
        
        <update id="updateSectionUser" parameterType="Section">
                update sections set sectionUser=#{sectionUser} where sectionId=#{sectionId}
        </update>
        
        <!-- 已面向对象的发送更新数据库 -->
        <update id="updateSection" parameterType="Section">
                update sections set sectionId=#{sectionId},sectionName=#{sectionName},jianjie=#{jianjie},
                         sectionUser=#{sectionUser},addtime=#{addtime} where sectionId=#{sectionId}
        </update>
        
        <delete id="deleteSection" parameterType="java.lang.String">
                delete from sections where sectionName=#{value}
        </delete>
        
        <insert id="insertSection" parameterType="Section">
                insert into sections(sectionName,jianjie,sectionUser,addtime) values(
                #{sectionName},#{jianjie},#{sectionUser},#{addtime})
        </insert>
</mapper>