<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mapper.UserMapper">
        <select id="findUserByUsernameAndPass" parameterType="java.lang.String" resultType="User">
                select * from users where username=#{0} and password=#{1}
        </select>
        <select id="findUserByUsername" parameterType="java.lang.String" resultType="User">
                select * from users where username=#{value}
        </select>
        
        <select id="findAllUser" resultType="User">
                select * from users
        </select>
        
        <update id="updateUserByUserStatus" parameterType="int">
                update users set userStatus=#{0} where userId=#{1}
        </update>
        <update id="updateUserType" parameterType="User">
                update users set userType=#{userType} where username=#{username}
        </update>
        
        <insert id="insertUser" parameterType="User">
                insert into users(username,password,sex,age,email,addtime,userStatus,userType) values(
                #{username},#{password},#{sex},#{age},#{email},#{addtime},#{userStatus},#{userType})
        </insert>
        
        <delete id="deleteUser" parameterType="int">
                delete from users where userId=#{value}
        </delete>
</mapper>